.build
Lemplate-*
tests/tjs/var
Makefile
Makefile.old
Makefile.js
t/a.js
t/b.js
t/check.js
*~
*.swp
*.swo
*.bak
go
a.lua
html_out/
ebooks.sh
*.tags
META.yml
MYMETA.json
MYMETA.yml
blib/
pm_to_blib
reindex
